html {
  overflow-y: scroll;
}

#main-title {
  color: #e2e8f0;
  font-size: 35px;
}

.hero-image {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

header p {
  font-size: 20px;
  margin-top: 5px;
}

nav {
  background-color: #111314;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #ffb454;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #22d3ee;
}

body {
  padding-bottom: 40px;
  color: #e2e8f0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

p a {
  color: #ffb454;
}

p a:hover {
  color: #22d3ee;
}

li {
  font-size: 18px;
  margin-bottom: 0.5em;
}

li a {
  text-decoration: none;
  color: #ffb454;
}

li a:hover {
  color: #22d3ee;
}

.container {
  display: flex;
  /* background-color: rgb(186, 228, 238); */
  background-color: #181a1b;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
